{% extends "layout.html" %}
{% block content %}
    <h2>Profile<h2>
    <h3>ACCOUNT NUMBER: {{ session['uid'] }}<h3>
    <h4>NAME: {{ fname }} {{ lname }}</h4>
    <h4>EMAIL: {{ session['email'] }}</h4>
    <h4>Total Deposit: {{ TotalDeposit }}</h4>
    <h4>Total Withdrawal: {{ TotalWithdrawal }}</h4>
    <h4>Account balance: {{ AccountBalance }}</h4>


  {% for message in form.psd.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.psd1.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% for message in form.psd2.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <form id="psdupdate" class="signup">
    <table>
    {{ form.hidden_tag() }}
    <tr><td>
    {{ form.psd.label }}
    </td><td>
    {{ form.psd }}
    </td></tr>
    <tr><td>     
    {{ form.psd1.label }}
    </td><td>
    {{ form.psd1 }}
    </td></tr>
    <tr><td>     
    {{ form.psd2.label }}
    </td><td>
    {{ form.psd2 }}
    </td></tr>
    <tr><td>     
    </td><td>
    {{ form.submit }}
    </td></tr>
    </table>
  </form>
  <div id="out"></div>
  <br />

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#out').hide();
        $("#psdupdate").submit(function(){
            if($('#password1').val() == $('#password2').val())
            {
                  $.post("{{ url_for('accountinfo') }}", $('#psdupdate').serialize(), function(e){
                    // if(e == "True")
                    // {
                    //  $('#out').show();
                    //   $('#out').html('Withdrawal has been Processed, Please take your cash!!!')
                    //   setTimeout(function(){$('#out').hide();$('#psdupdate').reset;}, 5000)
                    // }
                    // else
                    // {
                    //  $('#out').show();
                    //   $('#out').html('Error Updating Password')
                    //   setTimeout(function(){$('#out').hide();$('#psdupdate').reset;}, 5000)
                    // }
                    alert(e)
                  });
            }
            else if($('#password1').val() == " " || $('#password2').val() == " " || $('#password').val() == "")
            {
                $('#out').show();
                $('#out').html('Password field is empty')
                setTimeout(function(){$('#out').hide();$('#psdupdate').reset;}, 5000)
            }
            else
            {
                $('#out').show();
                $('#out').html('Password is not thesame')
                setTimeout(function(){$('#out').hide();$('#psdupdate').reset;}, 5000)
            }
      return false;
    });
  });
  </script>

{% endblock %}