{% extends "layout.html" %}
{% block content %}
    <h2>Profile<h2>
    <h3>This is {{ session['uid'] }}'s profile page<h3>
    <h4>NAME: {{ session['fname'] }} {{ session['lname'] }}</h4>
    <h4>EMAIL: {{ session['email'] }}</h4>
    <h4>Total Deposit: {{ TotalDeposit }}</h4>
    <h4>Total Withdrawal: {{ TotalWithdrawal }}</h4>
    <h4>Account balance: {{ AccountBalance }}</h4>

    <h2>DEPOSIT HISTORY</h2>
    <table>
    	<tr><th>SN</th><th>AMOUNT</th><th>DATE</th></tr>
    {% for i in ShowDep %}
        <tr><td>&nbsp;</td><td>{{ ShowDep[i] }}</td><td>{{ i }}</td></tr>
    {% endfor %}
    </table>
{% endblock %}