{% extends "layout.html" %}
 
{% block content %}
  <h2>Account Creation Form</h2>
 
  {% for message in form.firstname.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.lastname.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('signup') }}" method=post>
    {{ form.hidden_tag() }}
     
    {{ form.firstname.label }}
    {{ form.firstname }}
     
    {{ form.lastname.label }}
    {{ form.lastname }}
     
    {{ form.email.label }}
    {{ form.email }}
     
    {{ form.password.label }}
    {{ form.password }}
     
    {{ form.account.label }}
    {{ form.account }}
    <!-- <br />
    <select name="account">
      <option name="1">Cavings</optgroup>
      <option name="2">Current</optgroup>
      <option name="3">Fixed</optgroup>
      <option name="4">Future</optgroup>
    </select> -->
     
    {{ form.submit }}
  </form>
     
{% endblock %}